<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="">
        <p>Lugar para poner barra de busqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ol>
                <li><a href=""></a>Ofertas</li>
                <li><a href=""></a>Tiendas Oficiales</li>
                <li><a href=""></a>Vender</li>
                <li><a href=""></a>Ayuda</li>
            </ol>
            <ol>
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href=""></a>Ingresá</li>
                <li><a href=""></a>Mis Compras</li>
            </ol>
        </nav>
        <img src="/images/img-home-banner.jpg" alt="home-banner">
    </header>
    <main>
        <article>
            <h3>Basado en tu última visita</h3>
            <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
            <span> <br>$6.770 <br> 40% off <br> <strong>Cafetera Moulinex</strong> <br></span>
            
            <img src="/images/img-macbook-pro-2019.jpg" alt="macbook-pro-2019">
            <span> <br>$230.000 <br> 20% off <br> <strong>MacBook Pro 2019</strong> <br></span>
            
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10">
            <span> <br>$70.500 <br> 10% off <br> <strong>Samsung Galaxy S10</strong> <br></span>
            
            <img src="/images/img-tv-samsung-smart.jpg" alt="tv-samsung-smart">
            <span> <br>$23.200 <br> 5% off <br> <strong>SmartTv Samsung 43"</strong> <br></span>
            
        </article>
        <article>
            <h3>Sección de ofertas</h3>
            <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
            <span> <br>$6.770 <br> 40% off <br> <strong>Cafetera Moulinex</strong> <br></span>
            
            <img src="/images/img-macbook-pro-2019.jpg" alt="macbook-pro-2019">
            <span> <br>$230.000 <br> 20% off <br> <strong>MacBook Pro 2019</strong> <br></span>
            
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10">
            <span> <br>$70.500 <br> 10% off <br> <strong>Samsung Galaxy S10</strong> <br></span>
            
            <img src="/images/img-tv-samsung-smart.jpg" alt="tv-samsung-smart">
            <span> <br>$23.200 <br> 5% off <br> <strong>SmartTv Samsung 43"</strong> <br></span>
        </article>
    </main>
    <footer>
        <section>
        <article>
            <strong><br> Pagá con tarjeta o en efectivo</strong>
            <span> <br> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</span>
        </article>
        <article>
            <strong><br> Envío gratis desde $ 2.500</strong>
            <span> <br>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</span>
        </article>
        <article>
            <strong><br> Seguridad, de principio a fin</strong>
            <span> <br>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</span>
        </article>
        <article>
            <strong><br>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong>
        </article
        </section>
    </footer>
</body>
</html>