<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/icon/favicon.ico">
    <script src="https://kit.fontawesome.com/d0b104a98c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header class="header-home">
        <div class="header-description-navbar">
        <div class="header-top-bar">
            <img class="logo-header" src="/images/logo-mercado-liebre.svg" class="logo-form" alt="">
            <form class="form-navbar" action="" method="post">
                <input class="nav-input" type="text" placeholder="Buscar productos, marcas">
                    <button type="submit" class="icono-lupa">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
            </form>
        </div>
            <p class="descripcion-compras"> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <div class="bottom-burger">
                <a href=""><i class="fas fa-bars"></i></a>
            </div>
        </article>
        <nav class="header-nav">
            <ul class="left-navbar">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="rigth-navbar">
                <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="/">Mis Compras <i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
    </header>
    <main class="register-main-body">
        <form action="/" class="register-form">
            <div class="input-data">
                <label class="label-description" for="name">Nombre y Apellido</label>
                <input type="text" name="data-user"  id="name" required minlength="8">
            </div>
            <div class="input-data">
                <label class="label-description" for="user-name">Nombre de usuario</label>
                <input type="text"  name="data-user"  id="user-name" required minlength="8">
            </div>
            <div class="input-data">
                <label class="label-description" for="user-mail">E-mail</label>
                <input type="email" name="data-user" id="user-mail" required>
            </div>
            <div class="input-data">
                <label class="label-description" for="date">Fecha de nacimiento:</label>
                <input type="date" name="date-user" id="date" required>
            </div>
            <div class="input-data">
                <label class="label-description" for="dom">Domicilio</label>
                <input type="text" required name="data" id="dom">
            </div>
            <div >
                <label class="label-description" for="">Perfil del usuario</label>
                <div class="input-select-data">
                    
                    <input type="radio" name="perfilUsuario" id="profile-type" required>
                    <label for="profile-type">Comprador</label>
                
                    <input type="radio" name="perfilUsuario" id="profile-type" required>
                    <label for="profile-type">Vendedor</label>
                </div>
            </div>
            <div>
                <label class="label-description" for="">Categorias de interés</label>
                <div>
                    <input type="checkbox" name="categorias" id="electro">
                    <label for="electro">Electro</label>
                </div>
                <div>
                    <input type="checkbox" name="categorias" id="moda">
                    <label for="moda">Moda</label>
                </div>
                <div>
                    <input type="checkbox" name="categorias" id="hogar">
                    <label for="hogar">Hogar</label>
                </div>
                <div>
                    <input type="checkbox" name="categorias" id="jugueteria">
                    <label for="jugueteria">Jugueteria</label>
                </div>
                <div>
                    <input type="checkbox" name="categorias" id="vidaSana">
                    <label for="vidaSana">Vida sana</label>
                </div>
            </div>
            <div class="input-data">
                <label class="label-description" for="">Foto de usuario</label>
                <input type="file" name="" id="">
            </div>
            <div class="input-data">
                <label class="label-description for="">Contraseña</label>
                <input type="password" name="" id="" required minlength="8">
            </div>
            <div class="input-data">
                <label class="label-description for="">Confirmar contraseña</label>
                <input type="password" name="" id="" required minlength="8">
            </div>
            <div class="buttons-register-form">
                <button type="submit">Registrarse</button>
                <button type="reset">Borrar</button>
            </div>
            
        </form>
    </main>
</body>
</html>