.footer-home {
    margin-top: 10px;
    text-align: center;
    background-color: #fff;
}

.footer-article div {
    color: var(--color-celeste);
    font-size: 2em;
    
}

.footer-article {
    margin-bottom: 10px;
}
.footer-article i {
    transition: color 450ms;
}
.footer-article:hover i {
    color: var(--color-amarillo);

}


@media (min-width: 1024px){
    .footer-bar{
        display: flex;
        justify-content: space-around;
        padding: 50px;
    }
    .copyright-text {
        display: block;
    }
}
