.footer-home {
    margin-top: 10px;
    text-align: center;
    background-color: #fff;
}

.footer-article div {
    color: var(--color-celeste);
    font-size: 2em;
    
}

.footer-article {
    margin-bottom: 10px;
}
