.header-home {
    background-color: var(--color-amarillo);
}

.logo-header {
    width: 25%;
}

.descripcion-compras {
    text-align: center;
    margin: 20px ;
    font-size: 16px;
}

.barra-busqueda-header {
    padding-left: 3%;
    
} 

.icono-lupa {
    background-color: var(--color-gris-claro);
    display: inline;
    border-radius: 3px;
    border: black solid 1px;
}

ul {
    list-style-type: none;
    Padding-inline-start: 3px;
}

.usuario-nav {
    margin-top: 20px ;
}

.burger-bar {
    margin: auto;
    background-color: var(--color-celeste);
    padding: 1% 2vw;
    width: 10vw;
    border-radius: 5px;
    font-size: 7vw;
    color: var(--color-gris-claro);
}

.espacio-burger {
    padding: 30px;
}

@media (min-width: 1200px){

    .burger-bar {
        display: none;
    }
}