.titular {
    font-size: 30px ;
    text-align: center;
    color: var(--color-gris-oscuro);
    margin-bottom:15px;
}
.banner-main-home {
    width: 100%;
    
}

.precios {
    font-size: 18px;
}

.price-off {
    display: flex;
    gap: 20px;
    align-items: center;
}
.descuentos,
.descripciones {
    font-size: 16px;
}

.precios,
.descuentos {
    margin-bottom: 20px;
}

.descuentos {
    color: rgb(78, 180, 78);
}

.descripciones {
    display: none;

}

.main-article-section-off,
.main-article-section-visited {
    width: 90%;
    margin: auto;
}
.body-main article {
    margin-top: 10px;
}
.body-main section img {
    width: 100%;
    
}
.body-main {
    margin-bottom: 25px;
}
.detalles-productos {
    background-color: white;
    padding: 5px 15px;
    padding-bottom: 15px;
    
}

.article-truck-icon {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    color: #39b54a;
    left: 80%;
    top: -15px;
}




@media (min-width: 768px ){
    .article-truck-icon {
        left: 80%;
    }
    .descripciones{
        display: block;
    }
    .productos {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .main-article-section-off,
    .main-article-section-visited{
        display: flex;
        flex-wrap: wrap;
        
    }
    .productos {
        width: 45%;
        margin: auto;
        margin-bottom: 35px;

    }

}
@media (min-width: 1024px ){
    
    .article-truck-icon {
        left: 80%;
    }
    .productos {
        width: 22%;
        margin: auto;
        transition: box-shadow 550ms ;
    }
    .productos:hover {
        box-shadow:  0px 0px 30px rgb(78, 78, 78);
    }
}
